@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(243, 243, 243);
}
header{
    border-radius: 10px;
    font-size: 25px;
    background: rgb(195, 0, 47);
    color: white;
    margin-bottom: 20px;
    
}
header nav{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
}
.nav-title{
    font-style: italic;
    display: flex;
    align-content: center;
}
.nav-title img{
    margin-left: 5px;
   height: 2rem;
   width: 2rem;
}

.title-h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: rgb(195, 0, 47);
    width: max-content;
    border-radius: 10px;
}
.title-h3 h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
    color: white;

}
.container{
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 120px;
    width: 90vw;
    height: 100%;
    justify-content: space-between;
}

.lista-productos{
    
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article{
    display: flex;
}
article {
    
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 20vw;
    text-overflow: ellipsis;
    word-break: break-all;
}
article h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
article h3{
    text-wrap: wrap;
    word-break: break-all;
   
}
article img{
    aspect-ratio: 16/9;
}
article h4{
    margin-top: auto;
}
article input{
    margin-top: auto;
     width: 50%;
    align-self: center;
    border-radius: 9999px;
}
article button{
   margin-top: auto;
}


.precio-anterior{
    text-decoration-line: line-through;
    color: rgb(131, 131, 131);
}
article div{
    background-color: white;
    font-size: 20px;
}

.aside-div{
    
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10px;
    width: 100%;
    height: 100%;
    background: white;
    border: 1px rgb(121, 121, 121) solid;
    border-radius: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    word-break: break-all;
}
.div-form{
    background: linear-gradient(white,rgb(240, 240, 240));
    overflow-y: auto;
    text-align: center;
    z-index:1;
    flex-wrap: wrap;
}

.aside-div h3{
    text-align: start;
    text-overflow: ellipsis;
}
.aside-div span{
    font-size: 2rem;
}

.btn-compra{
    display: flex;
    background: #d52b1e;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 9999px;
    text-align: center;
    width: 10vw;
    height: 10vh;
    color: white;
    cursor: pointer;
    text-overflow: ellipsis;
    
}
@media screen and (max-height: 300px) {
   
    .div-form{
        height: 50px;
    }
}
@media screen and (max-width: 460px) {
    .div-form{
        height: 50px;
    }
    .aside-div{
        /*FALTA AJUSTAR ALTURA SI LA PANTALLA TIENE MENOS DE 282 DE ANCHO*/
        overflow-y: scroll;
        font-size: 12px;
    }
    .aside-div span{
        font-size: 1rem;
    }
    .btn-compra{
        width: 50px;
        height: 20px;
    }

}

.mensaje-error{
    border-radius: 10px;
    border: 1px rgb(121, 121, 121) solid;
    width: 100%;
}


article form:hover{
    border: 1px rgb(211, 211, 211) solid;
}


footer{
    margin-top: 120px;
    margin-bottom: 40px;
    color: rgb(112, 112, 112);
   
}
footer h3{
    color: #d52b1e;
    font-size: 20px;
}
footer h4{
    color: #d52b1e;
    font-size: 20px;
}

.tarjetas{
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tarjetas-left{
    padding-left: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    font-size: 14px;
}
.tarjetas-img-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.tarjetas img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 8vw;
    height: 10vh;
}


/*FORM PAGO*/
.form-pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas-pago{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.tarjetas-pago img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 4vw;
    height: 8vh;
    border: 1px solid white;
    
}
.tarjetas-pago img:hover{
    border: 1px rgb(56, 56, 56) solid;
}
.input-pago{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.input-pago input{
    width: 80%;
    margin: 5px;
}

dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    height: 30%;
}


